<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>http://nexus.local:8081/repository/maven-central/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>allow-insecure-repos</id>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <url>http://nexus.local:8081/repository/maven-central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>allow-insecure-repos</activeProfile>
    </activeProfiles>

</settings>
